.button{
    border: 5px solid rgb(212, 0, 255);
    padding: 15px 32px;
    text-align: center;

    &--footer{
        background-color:rgb(188, 240, 223);
    }
    &--xl{
        height: 100px;
        width:500px;
    } 
    &--title{
        background-color:rgb(240, 228, 188);
        font-style: italic;
    }
    &--review{
        background-color:white;
        font-style: italic;
        font-size: 10px;
    }
    &--s{
        height: 50px;
        width:250px;
    }
}

.title{

    &__image{
      height: 200px;
      width: 450px;
    }
  
  }
#title{
    color:rgb(0, 0, 0);
    font-size: 6em;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    height:200%;
    margin-bottom: auto;
    margin-top: auto;
    animation-name: aparecer;
    animation-duration: 4s;
}
@keyframes aparecer{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
h1{
    margin-top: 0.1%;
    margin-bottom: 0%;
}
h3{
    font-style: italic;
}
h2{
    padding: 16px 20px;
    color: rgb(29, 29, 31);
    font-size: 45px;
    text-align: center;
    align-items: column;
    margin-top: 5%;
    margin-bottom: 0%;
    font-weight: 800;
}
h5{
    color: white;
    font-size: 3em;
}
#followus{
    height: 100%;
    width: 100%;
    color:rgb(92, 90, 90);
    font-size: 65px;
    font-family: 'Brush Script MT', cursive;
    margin-top: 3%;
    align-items:center;
    text-align: center; 
}
p{
    color:rgb(45, 45, 46);
    font-size: 28px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2% ;
    padding-top: 1%;
}

#FAQ{
    color:black;
    font-size: 30px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2% ;
    padding-top: 1%;
}

/*--------------------------------------------------------------
# sections
--------------------------------------------------------------*/

a:link, a:visited {
    color: rgb(88, 86, 86);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
  }
  a:hover, a:active {
    background-color: rgb(180, 199, 207);
  }
nav{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    }
main{
        display:flex;
        height: 900px;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        padding-top: 0.05%;
    }
#questionsaside{
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: space-evenly;
        padding-top: 50%;
}
#nav{
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    height: 100%;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column
}

li{
    color: black;
    font-size:25px;
    font-weight: 800;
}
aside{
    font-size:30px;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #29627e;
}

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
table{
    margin-left:auto;
    margin-right:auto;
    margin-top: 0%;
    margin-bottom: 5%;
    width: 70%;
    text-align: center;
}
th{
    color:rgb(21, 15, 27);
    font-size: 25px;
    text-align:center;
}
th{
    font-size: 35px;
    color:rgb(58, 58, 59);
    text-align:center;
}
td{
    font-size: 35px;
    color:rgb(28, 56, 134);
    height: 100px;
    vertical-align:middle;
    text-align:center;
}
/*--------------------------------------------------------------
# Links for Navegation
--------------------------------------------------------------*/
#link-index{
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 35px;
    margin-bottom: 30%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(24, 122, 179);
}
#link-coaches{
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30%;
    color: rgb(24, 122, 179);
}

#link-questions{
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30%;
    color: rgb(24, 122, 179);
}
#link-services{
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 35px;
    font-family:  Arial, Helvetica, sans-serif;
    margin-bottom: 30%;
    color: rgb(24, 122, 179);
}
#link-contact{
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 35px;
    font-family:  Arial, Helvetica, sans-serif;
    margin-bottom: 30%;
    color: rgb(24, 122, 179);
}
#coaches{
    background-color: rgb(252, 253, 253);
    height:100%;
    width: 100%;
    display:flex;
}
#services{
    font-size: 40%;
}
#services2{
    display:flex;
    height: 800px;
}
footer{
    font-size: 25px;
}
/*--------------------------------------------------------------
# Links for Navegation
--------------------------------------------------------------*/

img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    width:33%;
}
#servicesfoto{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 40%;
    margin-bottom: 20%;
    width:80%;
    height: 60%;
}
#coaches {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    width:50%;
    border-radius: 4px;
    padding: 5px;
}
#questionsaside {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: 150%;
    height: 70%;
    width: 90%;
    justify-content: space-evenly;
    margin-top: 2%;
}
#footer{
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    height: 100%;
    justify-content:space-evenly;
    align-items:center;
    justify-content:space-evenly;
    flex-direction:row;
    margin-bottom: 0%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
select {
    margin-top: 0;
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 25px;
  }
  input[type=text] {
  width: 50%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 25px;
  }
input[type=number] {
width: 30%;
padding: 16px 20px;
border: none;
border-radius: 4px;
background-color: #f1f1f1;
font-size: 25px;
}
input[type=button] {
width: 20%;
padding: 16px 20px;
border: none;
border-radius: 4px;
background-color: #80f599;
font-size: 25px;
}
input[type=reset] {
width: 20%;
padding: 16px 20px;
border: none;
border-radius: 4px;
background-color: #f55252;
font-size: 25px;
}
textarea {
width: 100%;
height: 80%;
padding: 16px 20px;
border: none;
border-radius: 4px;
background-color: #f1f1f1;
font-size: 25px;
}

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
.grid{
    display: grid;
    grid-template-columns: 190px 1800px 350px;
    grid-template-rows: 0.3fr 3Fr 0.1fr;
    grid-template-areas: "box1 box1 box1" "box2 box3 box4" "box5 box5 box5";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.box-1{
    grid-area:box1;
    background-size: auto;
    height: 100%;
    opacity: 0.7;
    padding: 20px 0;
}
.box-2{
    grid-area:box2;
    background-image: linear-gradient(white,rgb(214, 218, 218), white);
    border-radius: 8px;
}
.box-3{
    grid-area:box3;
    background-color:linear-gradient(white,rgb(177, 233, 233));
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}
.box-4{
    grid-area:box4;
    background-image: linear-gradient(white,rgb(151, 229, 243), white);
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    padding: 20px 0;
}
.box-5{
    grid-area:box5;
    background-image: linear-gradient(rgb(252, 252, 252), rgb(157, 235, 235));
    align-items: center;
    justify-content: space-evenly;
    height:100%;
}

/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
#carouselExampleDark{
height: 40%;
width: 40%;
}

/*--------------------------------------------------------------
# Social media icons
--------------------------------------------------------------*/
#socialmedia-F{
    height: 60px;
    width: 60px;
}
#socialmedia-I{
    height: 60px;
    width: 60px;
}
#socialmedia-YT{
    height: 60px;
    width: 60px;
}
#socialmedia-L{
    height: 50px;
    width: 50px;
}
#socialmedia-T{
    height: 60px;
    width: 60px;
}
#socialmedia-P{
    height: 60px;
    width: 60px;
}
#article{
    height: 40px;
    width: 40px;
}
#question-icon{
    height: 250px;
    width: 250px;
    padding-top: 20%;
    padding-bottom: 20%;
    animation-name: spin;
    animation-duration: 4s;
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}
#shake-icon {
    height: 320px;
    width: 320px;
    padding-top: 20%;
    padding-bottom: 20%;

}
